<!DOCTYPE html>

<%- include('../partials/head'); %> 

<body class="container">
    <%- include('../partials/header', {pagina:'About'}); %>

    <main>
        <div class="jumbotron">
            <h1>Isso aqui é uma página de sobre!</h1>
            <br>
            <h2>Segue abaixo uma receita de pão de capivara, quem saber pode ser útil! </h2>
            <br>
            
            <style>
                img {
                    display: flex;
                    margin: 0 auto;
                    justify-content: center;
                    border: 5px solid #dddd;
                }
            </style>

            <img 
            src="https://s2.glbimg.com/FR8cPGYnmazSbRUCmuW7n78xA3w=/0x0:636x348/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2021/Q/I/SNEfhtQKi2o0H4yyUkrg/qwqwq.png" 
            alt="Imagem do pão de capivara">

            <br>
            <p>
                <strong>Ingredientes:</strong>
                <br>
                400 gramas de farinha de trigo
                <br>
                250 mililitros de leite morno
                <br>
                2 colheres de sopa de azeite
                <br>
                10 gramas de fermento biológico seco
                <br>
                1 colher de sopa de açúcar
                <br>
                Um quarto colher de sopa de sal
                <br>
                1 pitada de noz-moscada
                <br>
                1 pitada de pimenta-do-reino
                <br>
                1 ovo batido para pincelar a massa
                <br><br>

                <strong> Recheio </strong>

                <br>
                150 gramas de muçarela
                <br>
                150 gramas de linguiça Blumenal
                <br><br>

                <strong>Modo de preparo:</strong>
                <br>
                1 Misturar o fermento biológico seco, o açúcar, o leite morno, a pimenta-do-reino e a noz-moscada, o azeite e apenas um pouco da farinha de trigo até dar liga, para dissolver e ativar o fermento
                <br>
                2 Colocar mais um pouco da farinha e antes de incorporá-la à massa, adicione o sal (é importante que o sal seja o último ingrediente).
                <br>
                3 Misturar bem até a massa atingir o ponto de pão.
                <br>
                4 Deixar descansar por cerca de 40 minutos, até dobrar o volume.
                <br>
                5 Enquanto a massa descansa, passe a muçarela e a linguiça no triturador
                <br>
                6 Depois de crescer, é preciso sovar a massa e abrir para modelar. Para rechear, a massa aberta não pode ficar fina demais - ou os ingredientes do recheio podem "escapar" na hora de assar.
                <br>
                7 O recheio pode ser adicionado às diferentes partes do corpo da capivara, inclusive na cabeça.
                <br>
                8 Depois da modelagem, colocar em uma forma untada e fazer a montagem do animal, usando cortadores de biscoito enrolados em alumínio como suporte para as patas e cabeça. Para colar cada pedacinho, é só pincelar água no lugar em que serão colocados.
                <br>
                9 Os olhos são feitos com feijão cru e a expressão, desenhada com uma mistura de shoyu e cacau 100%, para marcação. Para dar brilho à massa, besuntar com ovo batido antes de assar ou depois de 10 minutos de forno.
                <br>
                10 O tempo total para assar é de cerca de 40 minutos, com forno a 180 graus (variando conforme cada equipamento).
                <br><br>
            </p>
        </div>
    </main>

    <%- include("../partials/footer"); %>  

</body>

</html>